[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tinybakerweb = {editable = true, path = "."}
pytest = "*"
black = "*"

[packages]
flask = "*"
tinybaker = ">=0.2.3"
connexion = {extras = ["swagger-ui"], version = "*"}
swagger_server = {editable = true, path = "libgen/"}
click = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
