{% extends 'base.jinja' %}
{% block title %} None {% endblock %}

{% block content %}
  This is a TinyBakerWeb server, but not the client for it!
  
  Please use the React client instead.
{% endblock %}
